<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="status ? 'active' : ''">
    <ul class="list-unstyled components" style="margin-bottom: 0 !important;">
      <div class="row"
        style="display: flex;justify-content: center;margin-right: -10px !Important;background-color: #009688;">
        <img src="./assets/Icons/reapbenefit.png" style="width: 120px;height: 45px">
      </div>
      <!-- <div class="row" style="display: flex;justify-content: center;margin-top: 0.5rem;padding-bottom: 5px;">
        <span style="color: white;font-size: 16px;">Neighbourhood Dashboard</span>
      </div> -->
      <div class="row" style="margin:0;margin-top: 0.5rem;">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
          class="form-control searchInput" #search [formControl]="searchControl" (input)="searchText($event)"
          style="padding-right: 1.3rem;">
        <!-- <i class="fa fa-times clearSearch cursor" (click)="ClearSearch()" aria-hidden="true"></i> -->
        <i class="fa fa-search" id="SeachIcon" [ngClass]="status ? '' : 'searchIcon'" aria-hidden="true"></i>
      </div>
      <li *ngIf="ShowCitySelect">
        <span>City</span>
        <!-- <select class="form-control" (change)="SelectCity($event.target.value)">
          <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
        </select> -->
        <ngx-select-dropdown (change)="SelectCity($event)" [multiple]="false" [(ngModel)]="CitySelected"
          [config]="configCity" [options]="cities"></ngx-select-dropdown>
      </li>
      <li *ngIf="ShowWardSelect && false">
        <span>Ward</span>
        <ngx-select-dropdown (change)="WardSelectedEvent($event)" [multiple]="false" [(ngModel)]="WardSelected"
          [config]="configWard" [options]="Wards"></ngx-select-dropdown>
      </li>
      <div class="row" style="margin: 0;" *ngIf="false">
        <div class="col-lg-12 vercenter" style="border: 1px solid white;background: white;color: grey;">
          <div class="row" style="padding: 0;font-size: 10px;">
            <div class="col-lg-12">
              Ward Id: {{wardID}}
            </div>
            <div class="col-lg-12">
              Ward Name: {{wardName}}
            </div>
            <div class="col-lg-12">
              Corporator Name: {{corporatorName}}
            </div>
            <div class="col-lg-12">
              Contact: {{corporatorPhone}}
            </div>
          </div>
          <!-- <span style="font-size: 11px;" *ngIf="wardName != undefined">Ward Id :{{wardID}} &nbsp;Ward Name
            :{{wardName}} &nbsp;Corporator Name: {{corporatorName}} &nbsp;Contact : {{corporatorPhone}}</span> -->
        </div>
      </div>
      <!-- <li>
                  <span>Ward</span>
                  <select class="form-control" (change)="SelectWard($event.target.value)">
                    <option *ngFor="let Ward of Wards" [value]="Ward">{{Ward}}</option>
                  </select>
                </li> -->
      <div class="row" style="margin: 0px;" *ngIf='false'>
        <div class="col-lg-12" style="padding: 0;padding-top: 0.5rem;" *ngFor="let menuData of MenuData">
          <div class="row" style="margin: 0;" *ngIf='menuData.buttonType == "1"'>
            <span>{{menuData.name}}</span>
            <select class="form-control" (change)="SingleSelectMenuDropDown($event,menuData.menuId)">
              <option [disabled]="menuData.subMenus.length == 0">No Data</option>
              <option value="Select" *ngIf="menuData.subMenus.length > 0">Select</option>
              <option value="subMenuItems.submenuId" *ngFor="let subMenuItems of menuData.subMenus">
                {{subMenuItems.submenu}}</option>
            </select>
          </div>
          <div class="row" style="margin: 0;" *ngIf='menuData.buttonType == "2"'>
            <span>{{menuData.name}}</span>
            <ngx-select-dropdown (change)="MenuMultiSelect($event,menuData.menuId)" [multiple]="true" [config]="config"
              [options]="menuData.subMenus"></ngx-select-dropdown>
          </div>
          <div class="row" style="margin: 0;" *ngIf='menuData.buttonType == "3"'>
            <input type="radio" id="{{menuData.name}" name="optradio" (change)="MenuRadioSelect($event,menuData.menuId)" /><span
            class="margLeft">{{menuData.name}}</span>
          </div>
        </div>
      </div>
      <div class=" row" style="padding-top: 1rem;" *ngIf="showMenuItems">
            <div class="col-lg-12" *ngFor="let menuItem of MenuItems;let menuIndex = index;">
              <ngx-treeview [config]="configMenu" [items]="menuItem"
                (selectedChange)="TreeMenuItemsSelect($event,menuItem)">
              </ngx-treeview>
            </div>
          </div>

          <!-- Old Menu -->
          <div *ngIf=" false">
            <div class=" row margRight">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <input type="radio" id="Governance" name="optradio" (change)="radioType($event,'Governance')" /><span
                  class="margLeft">Local Governance</span>
              </div>
            </div>
            <div class="row margRight">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <input type="radio" id="Agencies" name="optradio" (change)="radioType($event,'Agencies')" /><span
                  class="margLeft">Local Utilities</span>
              </div>
            </div>
            <div class="row margRight">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <input type="radio" id="ICatagory" name="optradio"
                  (change)="radioType($event,'Issues Categories')" /><span class="margLeft">Issues Categories</span>
              </div>
            </div>
            <div class="row margRight" *ngFor="let category of categories">
              <div class="col-lg-12 col-md-12 col-xs-12 padLeft">
                <input type="checkbox" [checked]="category.checked" (change)="SelectedCategory($event.target.value)"
                  [value]="category.value" />
                <img src="{{category.ImgSrc}}" style="width: 20px;margin-left: 0.5rem;"><span class="margLeft"
                  style="font-weight: 500;">{{category.value}}</span>
              </div>
            </div>
            <div class="row margRight">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <input type="radio" id="DWCC" name="optradio" (change)="radioType($event,'DWCC')" /><span
                  class="margLeft">Waste Collection Centers</span>
              </div>
            </div>
            <div class="row margRight">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <input type="radio" id="Toilet" name="optradio" (change)="radioType($event,'Toilets')" /><span
                  class="margLeft">Toilets</span>
              </div>
            </div>
            <div class="row margRight">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <input type="radio" id="Campaigns" name="optradio" (change)="radioType($event,'Campaigns')" /><span
                  class="margLeft">Campaigns</span>
              </div>
            </div>
            <div class="row margRight">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <input type="radio" id="AQMcheck" name="optradio" (change)="radioType($event,'AQM')" /><span
                  class="margLeft">Air Quality Monitors</span>
              </div>
            </div>
            <div class="row" style="display: flex;justify-content: flex-end;padding-right: 1rem;">
              <!-- <button class="btn btn-primary" (click)="showGraphs()" style="margin-left: 10px;width: 140px;height: 25px;padding-top: 0px;">
      <span style="color:white;">Show/Hide Facts</span> -->
              <!-- <span *ngIf="showgraphs" style="color:white;">Hide Facts</span> -->
              <!-- </button> -->
            </div>
          </div>
          <div class="row"
            style="margin:0;display: flex;justify-content: center;color: white;align-items: flex-end;margin-top: 0.5rem;">
            <div class="col-lg-6 col-xs-12" style="display: flex;justify-content: center;">
              <span class="vercenter" (click)="open(content,'About_Us')"
                style="padding-left: 10px; cursor: pointer;text-decoration: underline;">About_Us</span>
            </div>
            <div class="col-lg-6 col-xs-12" style="display: flex;justify-content: center;">
              <span class="vercenter" (click)="open(FAQ,'FAQ')"
                style="padding-left: 10px; cursor: pointer;text-decoration: underline;">FAQ</span>
            </div>
          </div>
          <div class="row" style="margin: 0;display: flex;justify-content: center;margin-top: 0.5rem;">
            <!-- <button class="btn btn-primary" (click)="SubscribeToInsights()" style="height: 25px;background-color: #ff491d;padding-top: 0;"> -->
            <!-- </button> -->
            <span (click)="SubscribeToInsights()"
              style="cursor: pointer;text-decoration: underline;font-size: 16px;">Subscribe to Insights</span>
          </div>
          <div class="row" style="margin: 0;display: flex;justify-content: center;margin-top: 0.5rem;">
            <span (click)="FeedBack()"
              style="cursor: pointer;text-decoration: underline;font-size: 16px;">FeedBack</span>
          </div>
          <!-- <div class="row" style="margin:0;justify-content: center;">
        <button class="btn btn-primary" (click)="NeighbourhoodForum()"
          style="width: 93%;height: 25px;padding: 0;background-color: #ff9900 !IMPORTANT;">
          <span style="color:white;">Neighbourhood Forum</span>
        </button>
      </div> -->
    </ul>
  </nav>

  <div id="content" *ngIf="ShowForum">
    <div class="row">
      <div class="col-lg-12">
        <div style="text-align: end;">
          <span (click)="closeForum('Forum')" title="Close Forum" style="cursor: pointer;"><i class="fa fa-times"
              aria-hidden="true" style="font-size: 18px;color: red"></i></span>
        </div>
      </div>
      <div class="col-lg-12">
        <iframe id='ForumSrc' frameborder="0" style="height: calc(100vh - 35px);;width: 100%"></iframe>
      </div>
    </div>
  </div>
  <div id="content" *ngIf="ShowAnalytics">
    <div class="row">
      <div class="col-lg-12">
        <div style="text-align: end;">
          <span (click)="closeForum('Analytics')" title="Close Forum" style="cursor: pointer;"><i class="fa fa-times"
              aria-hidden="true" style="font-size: 18px;color: red"></i></span>
        </div>
      </div>
      <div class="col-lg-12">
        <iframe src="http://internaldashboard.solveninja.org:4000/public/dashboard/07b9f145-5be8-4206-942e-7251e15791d9"
          frameborder="0" style="height: calc(100vh - 35px);;width: 100%"></iframe>
      </div>
    </div>
  </div>
  <!--Map Page Content  -->
  <div id="content" *ngIf="!ShowForum && !ShowAnalytics">
    <div class="row" style="color: blue;">
      <div class="col-lg-1 col-xs-6 vercenter">
        <button class="btn btn-primary" style="height: 25px;padding-top: 0;" (click)="closeSideNav()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-right"
            aria-hidden="true"></i></button>
      </div>
      <div class="col-lg-5" style="display: flex;justify-content: center;">
        <span style="color: black;font-size: 18px;font-weight: 600;">Neighbourhood Dashboard</span>
      </div>
      <div class="col-lg-6 col-xs-12 pl-0 clearable">
        <!-- <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
          class="form-control searchInput" #search [formControl]="searchControl" (input)="searchText($event)"
          style="padding-right: 1.3rem;">
        <i *ngIf="showClear" class="fa fa-times clearSearch cursor" (click)="ClearSearch()" aria-hidden="true"></i> -->
        <div class="row" style="justify-content: flex-end;">
          <div class="col-lg-4">
            <button class="btn btn-primary" (click)="NeighbourhoodForum()"
              style="width: 100%;height: 25px;padding: 0;background-color: #00695c !IMPORTANT;border-color: #88c03f !IMPORTANT;">
              <span style="color:white;">Coronavirus Self Assessment</span>
            </button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary" (click)="NeighbourhoodData()"
              style="width: 100%;height: 25px;padding: 0;background-color: #00695c !IMPORTANT;border-color: #88c03f !IMPORTANT;">
              <!-- <span style="color:white;">Neighbourhood Data</span> -->
              <span style="color:white;">Social distancing</span>
            </button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary" (click)="NeighbourhoodAnalytics()"
              style="width: 100%;height: 25px;padding: 0;background-color: #00695c !IMPORTANT;border-color: #88c03f !IMPORTANT;">
              <!-- <span style="color:white;">Neighbourhood Analytics</span> -->
              <span style="color:white;">Help The Needy</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <app-main-content [mapData]="mapData" [AQM]="AQM" [AQMGraphLoc]="AQMGraphLoc" [graphData]="graphData"
      [graphDataStatus]="graphDataStatus" [showComp]="showComp" [compare]="compare" [showgraphs]="showgraphs"
      [selIssCat]="selIssCat" (WardData)="WardData($event)" (hideGraphs)="hideGraphs($event)"
      [WardDetails]="WardDetails" [showGovernance]="showGovernance" [wardAgencyList]="wardAgencyList"
      [showAgencies]="showAgencies" [IssueData]="IssueData" [showIssues]="showIssues"></app-main-content>
    <div class="row" style="margin: 0;">
      <span><strong>Zoom Level:</strong> {{dataService.zoom}}</span>
    </div>
    <div *ngIf="dataService.zoom > 15"
      style="padding-top: 5px;margin: 0;height: 75px;position: absolute;bottom: 30px;background-color: white;width: calc(100% - 335px);overflow: auto;white-space: nowrap;">
      <div style="width: 100%;padding-left: 10px;text-decoration: underline;">
        <strong>Map Shortcuts</strong>
      </div>
      <div style="padding: 0 1rem;display: inline;" *ngFor="let markerList of mapData;let ML = index;">
        <img [src]="markerList.icon" style="height: 40px;" (click)="markerListClick(markerList)">
      </div>
    </div>
  </div>
</div>
<div *ngIf="false">
  <span (click)="getlocation()" class="myLoc" id="myLocation" *ngIf="!ShowForum && !ShowAnalytics">
    <i class="fa fa-crosshairs" aria-hidden="true" style="color: black;font-size: 24px;"></i>
  </span>
  <span style="position: absolute;top: calc(100vh - 328px);left: 58.4%;" id="centerLocation"
    *ngIf="!ShowForum && !ShowAnalytics">
    <i class="fa fa-crosshairs" aria-hidden="true" style="color: black;font-size: 24px;"></i>
  </span>
</div>
<button [hidden]="true" id="dataWarning" (click)="open(cityData,'cityData')"></button>

<!-- About_Us -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">About US</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="fa fa-times" aria-hidden="true" style="font-size: 18px;color: red"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="about-us">
      <p>The Neighbourhood Dashboard aggregates civic-environmental data along with governance data at a neighbourhood
        level
        for cities around India. We are displaying it on a map and presenting it to you as a set of charts.</p>
      <p>Our objective is to become the platform for</p>
      <p>- understanding what is happening in your neighourhood</p>
      <p>- holding the local governance accountable.</p>
      <p>Please Note - this data is being shown AS IS. We are not responsible for errors which might come in. However,
        please
        do inform us of errors, and if possible, we will make amends on our data.</p>
      <h4>Some Users and Use Cases</h4>
      <ul>
        <li><strong>1. Solve Ninja/Youth/Citizens - </strong>
          <ul>
            <li>Discover the existing Governance Infrastructure in your neighbourhood</li>
            <li>see visualised issues and Government Redressal mechanisms in your neighbourhood</li>
          </ul>
        </li>
        <li><strong>2. RWA/Corporator/MLA - </strong>
          <ul>
            <li>Do what the Solve Ninja/Youth/Citizen can do and</li>
            <li>Use this as a tool to make teams/agencies accountable</li>
          </ul>
        </li>
        <li><strong>3. Media and Academics - </strong>
          <ul>
            <li>Do all of the above and be able to infer how the quickly the neighbourhood responds to issues and how
              capable
              it is to resolve them quickly.</li>
          </ul>
        </li>
      </ul>
      <h4>We have data on the following levels</h4>
      <ul>
        <li><strong>Governance</strong>
          <ol>
            <li>Ward / Corporator</li>
            <li>Constituency / MLA</li>
          </ol>
        </li>
        <li><strong>Government Redressal</strong>
          <ol>
            <li>Police Stations</li>
            <li>Bus Stops</li>
            <li>Parks and Playgrounds</li>
            <li>Other Government Offices</li>
          </ol>
        </li>
        <li><strong>Issues</strong>
          <ol>
            <li>Waste - Garbage dump sites / DWCC Locations / Waste Convertor Locations / Composting Locations</li>
            <li>Water - Groundwater Quality / Lake Water Quality</li>
            <li>Pothole - Pothole Locations</li>
            <li>Air - Air Quality</li>
            <li>Sanitation - Toilet locations</li>
            <li>Education - School infrastructure data</li>
            <li>Civic - BBMP Offices</li>
            <li>Governance - Street Quality</li>
          </ol>
        </li>
      </ul>
      <h4>Data Providers</h4>
      <h4>We thank the following data providers for supplying the information used here:</h4>
      <ul>
        <li>Opencity.in</li>
        <li>FFEM</li>
        <li>Testing Waters</li>
        <li>Janaagraha</li>
        <li>National University for Educational Planning and Administration</li>
        <li>Data.gov.in</li>
        <li>Central Pollution Control Board</li>
        <li>Those Icons and FreePik on Flaticon.com</li>
      </ul>
      <h4>We thank for their support</h4>
      <ul>
        <li>Suresh Nair</li>
        <li>Sooraj Subramanian</li>
        <li>Anirudha Mysore</li>
        <li>Team Azureiken</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

<ng-template #FAQ let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">FAQ</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="fa fa-times" aria-hidden="true" style="font-size: 18px;color: red"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="about-us">
      <div>
        <div class="faq">
          <p><strong>Why Neighbourhood dashboard?</strong></p>
          <p>To make data available to citizens to aid them in their interactions with the local government. We also
            expect
            that by providing a platform to display civic and environmental problems, we will also be able to solve them
          </p>
          <p><strong>Who are you guys?</strong></p>
          <p>We are Reap Benefit. We have created a network of about 24,000 Solve Ninjas - school students in the age
            group
            of 12-18 - who solve civic and environmental issues through a process we call DISS (Discover, Investigate,
            Solve,
            Share)
          </p>
          <p> </p>
          <p><strong>How do i become a Solve Ninja?</strong></p>
          <p>It’s quite simple. Go to the dashboard, you’ll have a set of problems in your neighbourhood that you can
            solve.
            Then you go out and solve the problem.</p>
          <p>If you need help do contact us - Download our app “Solve Ninja” to connect with us easily.</p>
          <p><strong>You guys are cool! I’d like to intern with you guys! Who do i talk to?</strong></p>
          <p>We’re always looking for interns and volunteers! Mail us at
            <u>careers@reapbenefit.org</u> for more details</p>
          <p><strong>I’d like to get to know you guys better! How do I do it?</strong></p>
          <p>We get this all the time! Relax! We’re used to it - just mail us at
            <u>info@reapbenefit.org</u>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>
<ng-template #cityData let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Warning</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="fa fa-times" aria-hidden="true" style="font-size: 18px;color: red"></i>
    </button>
  </div>
  <div class="modal-body">
    <span>Currently, only Bengaluru is supported. Email "info@reapbenefit.org" if you are willing to help add your city
      here.</span>
  </div>
</ng-template>